{% extends 'layout.njk' %}

{% block pageTitle %}
  {% if errorList %}
    Error:
  {% endif %}
  {{ title }} - {{ siteTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Final page</h1>
  </div>
{% endblock %}