{
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": [
    "jsdoc",
    "jest"
  ],
  "extends": [
    "standard",
    "plugin:jsdoc/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        "@babel/plugin-syntax-import-assertions"
      ]
    }
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "jsdoc/require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
        }
      }
    ],
    "jsdoc/no-undefined-types": [
      "error",
      {
        "definedTypes": [
          "Promise",
          "Array",
          "Object",
          "Number",
          "String",
          "Boolean",
          "Function"
        ]
      }
    ],
    "jsdoc/require-param": "error",
    "jsdoc/require-returns": "error",
    "jsdoc/require-description": "error",
    "jsdoc/check-alignment": "error",
    "jsdoc/check-param-names": "error",
    "jsdoc/valid-types": "error",
    "prettier/prettier": "error"
  },
  "settings": {
    "jsdoc": {
      // Configure JSDoc settings if necessary
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.spec.js"
      ],
      "rules": {
        "jsdoc/require-jsdoc": "off"
      },
      "env": {
        "jest": true
      }
    },
    {
      "files": [ "*.njk" ],
      "plugins": ["nunjucks", "prettier"],
      "extends": ["plugin:prettier/recommended"]
    }
  ]
}
