{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% set items = meta.items %}
{% set title = meta.title %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% set checkboxConfirmOptional = {
    idPrefix: meta.consentOptionalCheckboxData.idPrefix,
    name: meta.consentOptionalCheckboxData.name,
    items: [{
      value: items.items[0].value,
      text: items.items[0].text,
      checked: items.items[0].checked,
      selected: items.items[0].selected
    }]
  }
%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" style="margin-bottom: 0px;">
          <h1 class="govuk-heading-l">Confirm and send</h1>

          <p class="govuk-body">I confirm that, to the best of my knowledge, the details I have provided are correct.</p>
          <p class="govuk-body">I understand the score was based on the answers I provided.</p>
          <p class="govuk-body">I am aware the information I submit will be checked.</p>
          <p class="govuk-body">I am happy to be contacted by Defra and RPA (or a third-party on their behalf) about my application.</p>
          <h3 class="govuk-heading-s">Improving our schemes</h3>
          <p class="govuk-body govuk-!-margin-bottom-2">As we develop new services we get feedback from farmers and agents.</p>
          <p class="govuk-body">You may be contacted by us or a third party that we work with.</p>
      </div>
      <form id="questionForm" onsubmit="handleSubmit(event)" autocomplete="off" novalidate="novalidate">
        <fieldset class="govuk-fieldset" aria-describedby="consent-to-terms-hint">
          {{ govukCheckboxes(checkboxConfirmOptional) }}
          {{ govukButton({
            text: "Confirm and send",
            attributes: {id: "btnConfirmSend"},
            classes: "govuk-!-margin-top-6"
          }) }}
        </fieldset>
      </form>
      {{ govukWarningText({text: 'You can only submit your details once'}) }}
    </div>
    <div class="govuk-body govuk-grid-column-full">
      <p></p>
      <hr class="govuk-section-break govuk-section-break--visible"/>
      <p>
        The Department for Environment, Food and Rural Affairs (Defra) is the data controller for personal data you give to RPA. For information on how we handle personal data go to <a class="govuk-link" href="https://www.gov.uk" target="_blank" rel="noopener noreferrer">GOV.UK (opens in new tab)</a> and search
        <a class="govuk-link" href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" target="_blank" rel="noopener noreferrer">Rural Payments Agency personal information charter (opens in new tab).</a>
      </p>
    </div>
  </div>
{% endblock %}