{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "pages/components/macro.njk" import multiSideBar,
conditionalButtons %}
{% set items = meta.items %}
{% set sidebar = meta.sidebar %}
{% set title = meta.title %}

{% block pageTitle %}
  {% if errorList %}
    Error:
  {% endif %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {% if meta.previousPageId %}
    {{ govukBackLink({
      id: "backLink",
      text: "Back",
      href: meta.previousPageId
    }) }}
  {% endif %}
  {% if errorList %}
    {{ govukErrorSummary ({
        "titleText": "There is a problem",
        "errorList": errorList
      }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div id="content" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
      <form id="questionForm" onsubmit="handleSubmit(event)" novalidate="novalidate">
        {% if meta.questionType ==='radio' %}
          {{ govukRadios(items) }}
        {% endif %}
        {{ conditionalButtons('Continue') }}
      </form>
    </div>
    {% if sidebar %}
      {{ multiSideBar(sidebar) }}
    {% endif %}
  </div>
{% endblock %}