{% macro crumbToken(crumb) %}
  {% from "dist/govuk/components/details/macro.njk" import govukDetails %}
  {% from "dist/govuk/components/button/macro.njk" import govukButton %}
  <input type="hidden" name="crumb" id="crumb" value="{{ crumb }}" autocomplete="off" />
{% endmacro %}
