{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% set siteTitle = "FFC Grants Eligibility Checker" %}
{% block pageTitle %}
  {{ siteTitle }}
{% endblock %}
{% block head %}
  <meta name="robots" content="noindex, nofollow" />
  <link rel="stylesheet" href="/eligibility-checker/stylesheets/main.css" />
  <link rel="icon" type="image/svg+xml" href="/eligibility-checker/assets/images/favicon.svg">
  <script>
    function handleSubmit(event, formId) {
      event.preventDefault();
      const form = document.getElementById("questionForm");
      const formData = new FormData(form);
      const url = "/eligibility-checker/{{ meta.grantTypeId }}/transition";
      const data = { event: "NEXT", currentPageId: "{{ meta.currentPageId }}" , nextPageId: "{{ meta.nextPageId }}", previousPageId: "{{ meta.previousPageId }}", answer: formData.get("{{ meta.currentPageId }}") };

      fetch(url, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
        window.location.href = `/eligibility-checker/{{ meta.grantTypeId }}/${data.nextPageId}`;
      })
      .catch(error => {
        // Handle any errors here
        console.error(error);
      });
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const backLink = document.querySelector(".govuk-back-link");
      if (backLink) {
        backLink.addEventListener("click", (event) => {
        fetch("/eligibility-checker/{{ meta.grantTypeId }}/transition", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ event: "BACK", nextPageId: "{{ meta.nextPageId }}", previousPageId: "{{ meta.previousPageId }}" }),
          })
        });
      }
    });
  </script>
{% endblock %}
{% block header %}
  {% set phase_banner_html %}
    This is a new service – your
    <a class="govuk-link" href="{{ surveyLink }}" target="_blank" rel="noopener noreferrer"
      >feedback</a
    >
    will help us to improve it.
  {% endset %}
  {{
    govukHeader({
        homepageUrl: "https://www.gov.uk/",
        serviceName: "Check if you can apply",
        serviceUrl: "/start"
    })
  }}
  <div class="govuk-grid-row govuk-width-container">
    {{
      govukPhaseBanner({
          tag: {
              text: "beta"
          },
          html: phase_banner_html
      })
    }}
  </div>
{% endblock %}
{% block footer %}
  {% set footer_html_code %}
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a
          class="govuk-footer__link"
          href="accessibility"
          rel="noopener noreferrer"
        >
          Accessibility
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a
          class="govuk-footer__link"
          href="cookies"
          rel="noopener noreferrer"
        >
          Cookies
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a
          class="govuk-footer__link"
          href="{{ surveyLink }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          Feedback
          <span class="govuk-visually-hidden">(opens a new window)</span>
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a
          class="govuk-footer__link"
          href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter"
          target="_blank"
          rel="noopener noreferrer"
        >
          Privacy
          <span class="govuk-visually-hidden">(opens a new window)</span>
        </a>
      </li>
    </ul>
  {% endset %}
  {{
    govukFooter({
        meta: {
            html: footer_html_code
        }
    })
  }}
{% endblock %}
