{% from "govuk/components/button/macro.njk" import govukButton %}
{% macro conditionalButtons (contBtnText ) %}
  {{ govukButton({
      text: contBtnText,
      attributes: {id: contBtnText.split(' ').join('-')}
    }) }} &nbsp;
{% endmacro %}